@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
.shad{
          border: 0px solid;
          padding: 10px;
          box-shadow: 0px 0px 35px #FF6A00; 
          border-radius: 100px;
}


h1{
          font-family: "Sancreek", serif;
          font-weight: 400;
          font-style: normal;
}

