@import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";

div.scroll-container {
          overflow: auto;
          white-space: nowrap;
          
        }
      

.shad{
  border: 0px solid;
  padding: 10px;
  box-shadow: 0px 0px 35px #FF6A00; 
  border-radius: 50px;
}


h1{
  font-family: "Sancreek", serif;
  font-weight: 400;
  font-style: normal;
}

/* Gallery.css */

/* Keyframes for scrolling animation */
@keyframes scroll-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes scroll-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* Hide scrollbars */
.scroll-container {
 
  height: 100%;
  
 
}

/* Apply scroll animation */
.scroll-container.scroll-up img {
  animation: scroll-up 10s linear infinite;
}

.scroll-container.scroll-down img {
  animation: scroll-down 5s linear infinite;
}

/* Styling for images */
.scroll-container img {
  height: auto;
  width: 100%;
  margin-bottom: 10px; /* Spacing between images */
  
}

/* Adjustments for container */
.p-24 {
  padding: 24px;
}



.m {
  margin: 0;
}

