@import "https://unpkg.com/open-props/open-props.min.css";
@import "https://unpkg.com/open-props/normalize.min.css";

div.scroll-container {
          overflow: auto;
          white-space: nowrap;
          
        }
        

        main {
	background: var(--surface-2);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--size-4);
	margin-bottom: var(--size-10);
	max-width: 100vw;
  padding: var(--size-4) 0;
/* 	overflow: hidden; */
}





.photo-block {
  position: sticky;
  top: calc(50% - 30vh);
  height: 60vh;
	width: 100%;
	display: grid;
  overflow: hidden;
  background: var(--gray-6);
}

.photo-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(38deg);
  display: grid;
	grid-template-columns: repeat(7, 1fr);
}

.photo {
  aspect-ratio: 3 / 4;
  width: 20vmax;
}

.collage {
  height: 200vh;
  view-timeline: --collage;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo:nth-of-type(7n + 1):nth-of-type(even),
.photo:nth-of-type(7n + 3):nth-of-type(even),
.photo:nth-of-type(7n + 5):nth-of-type(even),
.photo:nth-of-type(7n + 7):nth-of-type(even) {
  --vertical: -100%;
  --horizontal: 100%;
}
.photo:nth-of-type(7n + 1):nth-of-type(odd),
.photo:nth-of-type(7n + 3):nth-of-type(odd),
.photo:nth-of-type(7n + 5):nth-of-type(odd),
.photo:nth-of-type(7n + 7):nth-of-type(odd) {
  --vertical: -100%;
  --horizontal: -100%;
}

.photo:nth-of-type(7n + 2):nth-of-type(even),
.photo:nth-of-type(7n + 4):nth-of-type(even),
.photo:nth-of-type(7n + 6):nth-of-type(even) {
  --vertical: 100%;
  --horizontal: -100%;
}

.photo:nth-of-type(7n + 2):nth-of-type(odd),
.photo:nth-of-type(7n + 4):nth-of-type(odd),
.photo:nth-of-type(7n + 6):nth-of-type(odd) {
  --vertical: 100%;
  --horizontal: 100%;
}

.photo {
  animation-name: travel;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-timeline: --collage;
  animation-range: entry 100% exit 0%;
}

@keyframes travel {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 var(--vertical);
  }
  100% {
    translate: var(--horizontal) var(--vertical);
  }
}



