body{
          margin: 0;
          padding: 0;
          overflow-x: hidden;
          overflow-y: hidden;
          
}
.shad{
          border: 0px solid;

          box-shadow: 0px 0px 35px #FF6A00; 
          border-radius: 100px;
}


.divbg{
          
                    
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../assets/images/introBG.png);
                    z-index: 10;
                    position: relative;
                    min-width: 100vw;
                    overflow-y: hidden;
                    overflow-x: hidden;
                          
}
.parallax-image,
.parallax-text {
  transition: transform 1.5s ease-out;
  
}

