.main{
      height: 95vh;
      padding: 0% 5% 0%  5%;
      
}
.loader {
          height: 4px;
          margin: 2rem;
          width: 250px;
          --c:no-repeat linear-gradient(#FB5109 0 0);
          background: var(--c),var(--c),#fcf5b8;
          background-size: 60% 100%;
          animation: l16 3s infinite;
        }
        @keyframes l16 {
          0%   {background-position:-150% 0,-150% 0}
          66%  {background-position: 250% 0,-150% 0}
          100% {background-position: 250% 0, 250% 0}
        }